/* Tipo: Image Scroller */
div.option-image-scroller {
    border-radius: 50%;
    padding: 4px;
    background-color: #bdbdbd;    
    margin: 62px 2px 0 2px;
}

div.option-image-scroller:hover {
    background-color: #8d8d8d;
}

div.option-realizar-gentileza {
    background-color: #00c853;
    border-radius: 50%;
    padding: 8px;
    margin-left: 6px;
    float: right;
}

div.option-realizar-gentileza:hover {
    background-color: #068b3e;
}

div.option-gentileza-realizada {
    background-color: #bdbdbd;
    border-radius: 50%;
    padding: 8px;
    margin-left: 6px;
    float: right;
}

div.option-cancelar-gentileza {
    background-color: #f44336;
    border-radius: 50%;
    padding: 8px;
    float: right;
}

div.option-cancelar-gentileza:hover {
    background-color: #9c2b23;
}

div.option-mais-gentilezas {
    background-color: #999999;
    padding: 8px 12px 8px 12px;    
    display: table;
    margin: 0 auto;
}