/* Tipo: Image Scroller */
div.option-image-scroller {
    border-radius: 50%;
    padding: 4px;
    background-color: #bdbdbd;    
    margin: 62px 2px 0 2px;
}

div.option-image-scroller:hover {
    background-color: #8d8d8d;
}

div.option-realizar-gentileza {
    background-color: #00c853;
    border-radius: 50%;
    padding: 8px;
    margin-left: 6px;
    float: right;
}

div.option-realizar-gentileza:hover {
    background-color: #068b3e;
}

div.option-gentileza-realizada {
    background-color: #bdbdbd;
    border-radius: 50%;
    padding: 8px;
    margin-left: 6px;
    float: right;
}

div.option-cancelar-gentileza {
    background-color: #f44336;
    border-radius: 50%;
    padding: 8px;
    float: right;
}

div.option-cancelar-gentileza:hover {
    background-color: #9c2b23;
}

div.option-mais-gentilezas {
    background-color: #999999;
    padding: 8px 12px 8px 12px;    
    display: table;
    margin: 0 auto;
}

div.option-header-menu {
    box-sizing: border-box;
    height: 92px;
    float: right;
    margin: 0;
    background-color: #2c80b9;
    padding: 22px 22px 0 22px;
}

div.option-header-menu:hover {
    background-color: #246794;
}

@media (max-width: 992px) {
    div.option-header-menu {
        height: 78px;
        padding: 16px 16px 0 16px;
    }
}

@media (max-width: 600px) {
    div.option-header-menu {
        height: 62px;
        padding: 8px 4px 0 4px;
    }
}