#main {
    border: 0px;
    padding: 0px;
    margin: 0px;
}

div.center {        
    box-sizing: border-box;
    padding: 5px;
    display: table;
    margin: 0 auto;
    min-width: 320px;    
    margin-top: 92px;
}

@media (max-width: 992px) {
    div.center {
        margin-top: 78px;
    }
}

@media (max-width: 600px) {
    div.center {
        margin-top: 62px;
    }    
}