a.gender-button {
    box-sizing: border-box;    
    width: 180px;
    height: 180px;    
    border-radius: 10px;
    margin: 3px;
    float: left;
    padding-top: 5px
}

a.gender-button:hover {        
    background-color: #bdbdbd;
}

a.gender-button-selecionado {        
    background-color: #00C853;
}

a.gender-button-selecionado:hover {      
    background-color: #00C853;
}