div.gentileza {
    box-sizing: border-box;
    min-width: 300px;
    border-bottom: 1px solid #eee;
    margin-top: 4px;
}

div.gentileza h3.title {
    display: inline-block;
    font-size: 26px;
    color: #222;
    margin-bottom: 5px;
    margin-top: 0;
    line-height: 42px;
}

div.gentileza div.buttons {
    display: block;
    float: right;
}

div.gentileza span {        
    font-size: 14px;
    margin-bottom: 3px;
    padding: 3px;
    color: #fff;
    display: inline-block;
}

div.gentileza span.green {
    background-color: #00c853;
}

div.gentileza span.orange {
    background-color: #f57c00;
}

div.gentileza span.gray {
    background-color: #cacaca;
}