div.timestamp {
    box-sizing: border-box;
    min-width: 320px;
    background-color: #246794;
    text-align: center;
    color: #ffffff;
    font-size: 14px;
    margin-top: 92px;
    padding: 2px 0 2px 0;
    opacity: 1;
}

div.timestamp-fadeout {
    -webkit-transition: opacity 3s ease-in-out;
    -moz-transition: opacity 3s ease-in-out;
    -ms-transition: opacity 3s ease-in-out;
    -o-transition: opacity 3s ease-in-out;
    opacity: 0;
}

div.gentileza {
    box-sizing: border-box;
    min-width: 300px;
    border-bottom: 1px solid #999999;
    margin-top: 6px;
    background-color: #ffffff;
    padding-top: 3px;    
}

div.gentileza-fadein {
    -webkit-transition: background-color 1s ease-in-out;
    -moz-transition: background-color 1s ease-in-out;
    -ms-transition: background-color 1s ease-in-out;
    -o-transition: background-color 1s ease-in-out;
    background-color: #ccff90;
}

div.gentileza-fadeout {
    -webkit-transition: background-color 1s ease-in-out;
    -moz-transition: background-color 1s ease-in-out;
    -ms-transition: background-color 1s ease-in-out;
    -o-transition: background-color 1s ease-in-out;
    background-color: #ffffff;
}

div.gentileza h3.title {
    display: inline-block;
    font-size: 26px;
    color: #222222;
    margin-bottom: 5px;
    margin-top: 0;
    line-height: 42px;
}

div.gentileza h3.gray {
    color: #444444;
}

div.gentileza div.buttons {
    display: block;
    float: right;
}

div.gentileza span {        
    font-size: 14px;
    margin-bottom: 3px;
    padding: 3px;
    color: #fff;
    display: block;
}

div.gentileza span.green {
    background-color: #00c853;
}

div.gentileza span.orange {
    background-color: #f57c00;
}

div.gentileza span.gray {
    background-color: #bdbdbd;
}

div.gentileza ul {
    display: table;
    margin: 0 auto;
    list-style-type: none;
    padding: 0;
    border: 0;
}

div.gentileza ul li {
    padding: 0;
    float: left;
}

div.gentileza ul li.icone-ligacao {
    margin-top: 36px;
    border-radius: 50%;
    background-color: #246794;
}

div.gentileza ul li.icone-xp {
    box-sizing: border-box;
    line-height: 74px;
    width: 74px;
    border-radius: 50%;
    background-color: #00c853;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 8px;
    margin-left: 8px;
}

div.gentileza ul li.gray {
    background-color: #bdbdbd;
}

@media (max-width: 992px) {
    div.timestamp {
        margin-top: 78px;
    }
}

@media (max-width: 600px) {
    div.timestamp {
        margin-top: 62px;
    }    
}